.card {
    height: 150px;
    width: 150px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;

    img {
        height: 100%;
    }
}