.jumbotron {
    background-color: rgb(172, 48, 48);
    text-align: center;
    color: white;

    h1 {
        font-family: 'Staatliches', cursive;
    }
    p {
        font-family: 'Poppins', sans-serif;
    }
}